<footer
    style="text-align: center; margin-top: 40px; padding: 10px; background-color: #333; color: #fff; border-radius: 8px 8px 0 0;">
    <p style="margin-top: 20px;">&copy; 2024 İlan Platformu</p>
</footer>