<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar">
	<!-- Logo and brand name -->
	<a href="/" class="navbar-brand">
		<img src="/img/icons/logo.svg" alt="Logo">
		<span class="font-nunito"> İTÜ Raptiye</span>
	</a>
	<!-- Mobile menu toggle button -->
	<button class="navbar-toggle" id="navbar-toggle">☰</button>
	<!-- Main menu items -->
	<ul class="navbar-menu" id="navbar-menu">

		<li class="navbar-item">
			<a href="/" class="navbar-link">Anasayfa</a>
		</li>
		<li class="navbar-item">
			<a href="#" class="navbar-link ilanlar-toggle">İlanlar 
				<img class="downward-arrow" src="/img/icons/downward-arrow.svg">
			</a>
			<!-- Dropdown menu for "İlanlar" -->
			<div class="dropdown-menu" id="ilanlar-dropdown">
				<div class="adjacent">
					<a href="/satisilanlari" class="dropdown-link"><span>Satış İlanları</span></a>
					<a href="/satisilaniekle" class="plus-link" id="tumplus">
						<img src="/img/icons/plus-symbol.svg" class="plus-symbol" alt="+">
					</a>
				</div>
				<div class="adjacent">
					<a href="/isilanlari" class="dropdown-link">İş İlanları</a>
					<a href="/isilaniekle" class="plus-link" id="isplus">
						<img src="/img/icons/plus-symbol.svg" class="plus-symbol" alt="+">
					</a>
				</div>
				<div class="adjacent">
					<a href="/evarkadasiilanlari" class="dropdown-link">Ev Arkadaşı İlanları</a>
					<a href="/evarkadasiilaniekle" class="plus-link" id="evplus">
						<img src="/img/icons/plus-symbol.svg" class="plus-symbol" alt="+">
					</a>
				</div>
				<div class="adjacent">
					<a href="/kisasureliilanlar" class="dropdown-link">Genel İlanlar</a>
					<a href="/kisasureliilanekle" class="plus-link" id="kisaplus">
						<img src="/img/icons/plus-symbol.svg" class="plus-symbol" alt="+">
					</a>
				</div>
			</div>
		</li>
		

		<li class="navbar-item">
			<a href="/kampusemesajlar" class="navbar-link">Kampüse Mesaj</a>
		</li>
		<li class="navbar-item">
			<a href="/harfnotuhesapla" class="navbar-link">Harf Notu Hesapla</a>
		</li>

		<% if (!user) { %>
			<li class="navbar-item">
				<a href="/register" class="navbar-link">Üye ol</a>
			</li>
			<li class="navbar-item">
				<a href="/login" class="navbar-link">Giriş yap</a>
			</li>
			<% } %>

				<% if (user) { %>
					<li class="navbar-item">
						<a href="/profile" class="navbar-link"><img src="/img/icons/profile-circle.svg" alt="profil"></a>
					</li>

					<!-- Burası notification varsa yoksa style burdan ayarlanacak -->
					<li class="navbar-item">
						<a href="/gelenkutusu" class="<% if (hasNotification>0) { %> notification<% } %> navbar-link">
							<!-- hasNotification stores a number not a bool-->
							<% if (hasNotification==0) { %>
								<img src="/img/icons/message-img.svg" alt="gelen kutusu">
								<%} else if(hasNotification>0){ %>
									<img src="/img/icons/message-notification-img.svg" alt="<%=hasNotification%> mesaj">
									<span>
										<%=hasNotification%>
									</span>
									<% } %>
						</a>
					</li>

					<li id="logout-btn" class="navbar-item">
						<a href="/logout" class="navbar-link"><img src="/img/icons/log-out.svg" alt="çıkış yap"></a>
					</li>
					<% } %>
	</ul>
</nav>

<script defer>
	// JavaScript to toggle mobile menu with sliding effect
	document.getElementById('navbar-toggle').addEventListener('click', function () {
		const menu = document.getElementById('navbar-menu');
		menu.classList.toggle('active');
		menu.style.maxHeight = menu.classList.contains('active') ? menu.scrollHeight + "px" : "0";
	});

	// JavaScript to toggle ilanlar
    document.querySelector('.ilanlar-toggle').addEventListener('click', function (e) {
        e.preventDefault();  // Prevent page jump on click
        const ilanlarDropdown = document.getElementById('ilanlar-dropdown');
        
        // Toggle the active class to open/close the dropdown
        ilanlarDropdown.classList.toggle('active');
    });

</script>