<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar">
	<!-- Logo and brand name -->
	<a href="#" class="navbar-brand">
		<img src="/img/logo.svg" alt="Logo">
		<span> İTÜ Raptiye</span>
	</a>
	<!-- Mobile menu toggle button -->
	<button class="navbar-toggle" id="navbar-toggle">☰</button>
	<!-- Main menu items -->
	<ul class="navbar-menu" id="navbar-menu">
		
		<li class="navbar-item">
			<a href="/" class="navbar-link">Anasayfa</a>
		</li>
		<li class="navbar-item">
			<a href="#" class="navbar-link">İlanlar</a>
			<!-- Dropdown menu for "İlanlar" -->
			<div class="dropdown-menu">
				<a href="/addpost">İlan ver</a>
				<a href="/ilanlar">Tüm İlanlar</a>
				<a href="/addjob">İş ilanı ver</a>
				<a href="/isler">Tüm İşler</a>
				<a href="/addkiraoda">Kira/Oda Arkadaşı İlanı Ver</a>
				<a href="/kiraoda">Tüm Kira/Oda Arkadaşı İlanları</a>
			</div>
		</li>
		
		<li class="navbar-item">
			<a href="#" class="navbar-link">Kampüse Bir Mesaj</a>
			<!-- Dropdown menu -->
			<div class="dropdown-menu">
				<a href="/kampusebirmesajbirak">Kampüse Mesaj Bırak</a>
				<a href="/kampusemesajlar">Bırakılan Mesajlar</a>
			</div>
		</li>
		<li class="navbar-item">
			<a href="/lettergrade" class="navbar-link">Harf Notu Hesapla</a>
		</li>

		<% if (!user) { %>
		<li class="navbar-item">
			<a href="/register" class="navbar-link">Üye ol</a>
		</li>
		<li class="navbar-item">
			<a href="/login" class="navbar-link">Giriş yap</a>
		</li>
		<% } %>

		<% if (user) { %>
		<li class="navbar-item">
			<a href="/profile" class="navbar-link"><img src="/img/profile-circle.svg" alt="profil"></a>
		</li>
		<li id="logout-btn" class="navbar-item">
			<a href="/logout" class="navbar-link"><img src="/img/log-out.svg" alt="çıkış yap"></a>
		</li>
		<% } %>
	</ul>
</nav>

<script>
	// JavaScript to toggle mobile menu with sliding effect
	document.getElementById('navbar-toggle').addEventListener('click', function () {
		const menu = document.getElementById('navbar-menu');
		menu.classList.toggle('active');
		menu.style.maxHeight = menu.classList.contains('active') ? menu.scrollHeight + "px" : "0";
	});
</script>