<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <link rel="icon" href="/img/logo.svg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/errorpage.css">
</head>

<body>
	<h1>Something went wrong</h1>
	<h1>
	<% if (message) { %>
        <p><%= message %></p>
    <% } else { %>
        <p>An unexpected error occurred. Please try again later.</p>
    <% } %>
	</h1>
	<a href="/">Go to homepage from here </a>
</body>

</html>