<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="icon" href="/img/icons/logo.svg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hata</title>
	<link rel="stylesheet" href="/css/errorpage.css">

	<meta property="og:title" content="İTÜ Raptiye">
	<meta property="og:image" content="https://ituraptiye.com/img/icons/logo.png">
	<meta property="og:description" content="İTÜ öğrencileri için satış ve ilan sitesi">
	<meta property="og:url" content="https://ituraptiye.com/">
	<meta property="og:type" content="website">

	<meta http-equiv="Content-Security-Policy" content="
        default-src 'self';
        script-src 'self' 'unsafe-inline' https://code.jquery.com https://cdn.jsdelivr.net https://stackpath.bootstrapcdn.com;
        style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://fonts.googleapis.com;
        img-src 'self' data:;
        font-src 'self' https://fonts.gstatic.com;
        connect-src 'self';
        object-src 'none';
        form-action 'self';
        upgrade-insecure-requests;
    ">
</head>

<body>
	<h1>Tüh! Bir şeyler yanlış gitti.</h1>
	<h1>
		<% if (message) { %>
			<p>
				<%= message %>
			</p>
			<% } else { %>
				<p>Beklenmedik bir hata oldu. Daha sonra tekrar deneyiniz. Sayfanın en altında bulunan "Bize Ulaşın" ile problem hakkında bilgi verirseniz seviniriz.</p>
			<% } %>
	</h1>
	<a href="/">Ana sayfa </a>
	<br><br><br>
	<a href="/login">Giriş sayfası </a>
</body>

</html>