<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="icon" href="/img/logo.svg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>İTÜ Raptiye</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/home.css">
</head>

<body>
	<div id="wrapper">
		<%- include('partials/navbar') %>
			<div class="container mt-8">
				<header>
					<h1>İTÜ Öğrencileri İçin Al, Sat, Kirala, İlan Ver</h1>
					<h2>Hepsi Tek Yerde</h2>
				</header>
				<section id="pano">
					<!-- İçi script ile dolduruluyor renkler hue değişkeni ile ayarlanıyor-->
				</section>
			</div>
			<%- include('partials/footer') %>
	</div>
	<script>// Pano içindeki postitler için yazıldı ayrı bir dosyaya taşınacak
		const postits = [
			{
				title: "İkinci El Sahibinden Al",
				content: "İtülülerden uygun fiyata ders kitaplarını, mutfak malzemelerini, spor aksesuarlarını karşıla."
			},
			{
				title: "Kiradan Eşya Al",
				content: "Günlük lazım olan bisiklet, krampon, sözlük vs. aradığın ihtiyaçlarını kiradan al."
			},
			{
				title: "Harf Notu Hesapla",
				content: "Matematik, Fizik, Kimya notunu herkesten önce öğren."
			},
			{
				title: "İlan Ver",
				content: "Dilediğin her şeyi kolayca satışa çıkar, kirala ve alıcısıyla buluştur."
			},
			{
				title: "İş Bul",
				content: "Günübirlik veya uzun vadeli sana uygun ne varsa başvurabilirsin."
			}
		];
		const pano = document.getElementById('pano');
		postits.forEach(postit => {
			const postitDiv = document.createElement('div');
			postitDiv.className = 'postit';
			postitDiv.style.backgroundColor = `hsl(65, 100%, 86%)`;
			postitDiv.innerHTML = `
					<svg width="40" height="53" viewBox="0 0 40 53" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.7155 25L20.8966 26.7836L10.5368 45.2608L6 49L7.3556 43.4772L17.7155 25Z" fill="#D9D9D9"/><path d="M25.0001 6.50001L31.4991 10.5016L28.4037 25.1629L13.8982 17.2539L25.0001 6.50001Z" fill="#FF737C"/><rect x="31.1037" y="10.3631" width="2.32547" height="14.9335" transform="rotate(12.5218 31.1037 10.3631)" fill="#FA4753"/><path d="M9.98454 14.8806L33.785 28.1284L33.5 31.5L31.1735 32.8201L7.37303 19.5723L7.99997 16.5L9.98454 14.8806Z" fill="#FA4753"/><path d="M25.0861 0.264167L38.7451 7.86702L37.9423 10.9504L36.1336 12.5587L22.4746 4.9559L23.4539 2.07971L25.0861 0.264167Z" fill="#FA4753"/><path d="M34.7102 32.0822C33.8785 33.2592 32.7764 33.8517 31.3536 33.8039C30.794 33.7851 30.2891 33.5713 29.812 33.2982C27.1937 31.7996 24.5795 30.2941 21.9609 28.7962C21.4068 28.4792 21.4114 28.4953 21.0872 29.0567C19.2356 32.2622 17.3808 35.4659 15.5229 38.6678C14.3636 40.6658 13.2283 42.6787 12.0236 44.6492C11.092 46.1728 9.88689 47.4894 8.61802 48.7435C8.34286 49.0155 8.06735 49.2889 7.77289 49.5393C7.21145 50.0167 6.47202 50.0789 5.84737 49.7231C5.25413 49.3853 4.87631 48.692 5.03719 48.0058C5.64062 45.432 6.43203 42.9359 7.79516 40.6287C10.4813 36.0825 13.0948 31.4935 15.7389 26.9225C15.9257 26.5996 16.1047 26.2713 16.3094 25.9598C16.4784 25.7026 16.4075 25.5475 16.1605 25.4073C15.0986 24.8044 14.035 24.2041 12.9819 23.5861C11.2476 22.5682 9.48563 21.5982 7.77315 20.5422C6.37903 19.6825 5.97071 17.6105 6.56078 16.2526C7.37706 14.3743 9.66196 13.6304 11.5522 14.6241C12.0862 14.9048 12.6122 15.2015 13.1331 15.506C13.3731 15.6463 13.5425 15.6034 13.743 15.4208C16.2481 13.1405 18.7661 10.8742 21.2656 8.5878C21.8905 8.01615 22.506 7.43509 23.1567 6.89241C23.265 6.80214 23.3973 6.72778 23.4157 6.51933C22.8751 6.07717 22.4266 5.53843 22.1339 4.86152C21.4813 3.35276 22.0182 1.89933 23.1662 0.808948C24.1597 -0.134609 25.7972 -0.248381 27.0294 0.444771C30.6607 2.48755 34.2692 4.56953 37.8525 6.69493C39.746 7.81803 40.2199 10.062 38.9458 11.85C38.0951 13.0439 36.3912 13.5605 34.9304 13.0693C34.7968 13.0244 34.6744 12.9335 34.4926 12.9626C34.1897 13.5337 34.1853 14.1935 34.0453 14.8145C33.2601 18.296 32.4993 21.7831 31.7306 25.2683C31.6935 25.4363 31.6586 25.6049 31.6239 25.7735C31.571 26.031 31.6595 26.2024 31.8981 26.3368C32.4362 26.6398 32.9752 26.9455 33.4863 27.2908C35.1358 28.4056 35.622 30.3052 34.7102 32.0822ZM30.9593 10.8091C29.1175 9.74716 27.2733 8.68922 25.4364 7.61885C25.1598 7.45766 24.9545 7.45092 24.7085 7.67946C23.6361 8.67566 22.5518 9.65912 21.4687 10.6439C19.6208 12.3242 17.7675 13.9987 15.9242 15.6841C15.6238 15.9588 15.2901 16.2109 15.0408 16.6134C15.5928 16.9538 16.1227 17.265 16.6359 17.6016C17.0841 17.8956 17.1566 18.2451 16.9054 18.7125C16.6934 19.1069 16.3546 19.2097 15.8721 18.9749C15.4078 18.749 14.9616 18.4853 14.5111 18.2318C13.2468 17.5206 12.0304 16.7251 10.7254 16.0855C10.2071 15.8316 9.65953 15.8286 9.12873 15.9883C8.43533 16.197 8.08618 16.7402 7.98898 17.4229C7.88878 18.1266 8.12378 18.7328 8.71245 19.1578C9.68116 19.8571 10.7451 20.4021 11.777 20.9986C14.9607 22.839 18.1445 24.6792 21.3308 26.5152C24.1428 28.1354 26.9572 29.7515 29.7729 31.3653C30.2214 31.6223 30.6774 31.8682 31.1764 32.0203C32.323 32.3699 33.477 31.5383 33.4837 30.3482C33.4884 29.5148 33.0409 28.9375 32.3577 28.5386C30.2734 27.3217 28.1777 26.1243 26.0892 24.9146C23.8264 23.604 21.5617 22.2966 19.3087 20.9694C18.601 20.5526 18.4855 20.2297 18.759 19.7454C19.0402 19.2476 19.4116 19.1895 20.1343 19.5994C22.0707 20.6976 23.9985 21.8111 25.9268 22.9235C27.146 23.6269 28.358 24.3424 29.5771 25.0459C29.9545 25.2636 30.0592 25.2113 30.181 24.7863C30.2047 24.7036 30.2287 24.6204 30.2442 24.536C30.5496 22.872 30.9511 21.2288 31.3194 19.5784C31.8499 17.2013 32.3642 14.8206 32.9047 12.4458C32.9753 12.1356 32.9043 11.95 32.6495 11.8006C32.1042 11.4808 31.5596 11.1599 30.9593 10.8091ZM23.6787 4.19435C23.8635 4.81275 24.3667 5.13214 24.876 5.43062C27.0435 6.7009 29.174 8.03439 31.3825 9.23461C32.7433 9.97411 34.042 10.8296 35.4668 11.4486C36.6087 11.9448 37.921 11.0966 37.9842 9.85705C38.0361 8.83981 37.4111 8.29334 36.6277 7.8436C33.9872 6.32786 31.3509 4.8049 28.7054 3.29792C27.8457 2.8082 27.042 2.21696 26.1126 1.85191C25.3372 1.54735 24.6293 1.67801 24.0478 2.26204C23.5273 2.78479 23.4217 3.43119 23.6787 4.19435ZM13.1045 39.4394C14.5879 36.8843 16.0713 34.3294 17.5546 31.7742C18.2962 30.4965 19.0312 29.2148 19.7838 27.9436C19.9418 27.6768 19.8889 27.5463 19.6277 27.4088C19.1705 27.1681 18.7254 26.9036 18.2829 26.6364C18.0461 26.4935 17.9093 26.535 17.7695 26.781C17.2312 27.7286 16.6693 28.6628 16.1234 29.6062C14.1695 32.9828 12.2138 36.3584 10.2692 39.7404C9.60467 40.8961 8.94781 42.0557 8.33682 43.2427C7.62548 44.6246 7.37912 46.1518 6.86455 47.5934C6.83254 47.6831 6.80463 47.7911 6.92428 47.8685C7.12948 47.8652 7.25602 47.7102 7.37282 47.5778C8.2546 46.5781 9.25808 45.6844 10.0317 44.5913C11.1778 42.9719 12.064 41.1962 13.1045 39.4394Z" fill="black"/>
					<rect x="8.81828" y="34.7243" width="10" height="15" transform="rotate(32.2635 8.81828 34.7243)" fill="hsl(65, 79%, 91%)"/>
					</svg>
					<span class="postit-top" style="background-color: hsl(65, 79%, 91%);"></span>
					<h2>${postit.title}</h2>
					<p>${postit.content}</p>
				`;
			pano.appendChild(postitDiv);
		});
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>