<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="UTF-8">
	<title>İTÜ Raptiye</title>
	<link rel="icon" href="/img/icons/logo.svg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/home.css">

	<meta property="og:title" content="İTÜ Raptiye">
	<meta property="og:description" content="İTÜ öğrencileri için satış ve ilan sitesi">
	<meta property="og:image" content="/img/icons/logo.svg">
	<!-- <meta property="og:url" content="https://www.link.com"> güncellenecek -->
	<meta property="og:type" content="website">

	<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://cdn.jsdelivr.net https://stackpath.bootstrapcdn.com; style-src 'self' https://cdn.jsdelivr.net 'unsafe-inline';"> -->
	<!-- Implement a CSP to prevent XSS attacks and other code injection vulnerabilities. -->


</head>

<body>
	<div id="wrapper">
        <%- include('partials/navbar') %>
		<div class="container">
			
			<div class="intro">
				<h1 class="font-nunito">Raptiye</h1>
			    <p class="font-nunito">İTÜ öğrencileri için satış ve ilan platformu</p>
			</div>

			<div class="feature-container">
				<div class="feature">
					<div class="feature-box hexagon-bg">
						<!-- buraya şekil şukul ekleniyor -->
						<div class="feature-content">
							<h2><a class="home-links" href="/satisilanlari">Satış İlanı Ver</a></h2>
							<p>Sıfır veya ikinci el eşyalarını İTÜ'lülerle buluştur!</p>
						</div>
					</div>

					<div class="image-slider">
						<img src="/img/anasayfa/1.png" class="slider-image active" alt="İkinci El Örnek Ürün 1">
						<img src="/img/anasayfa/2.png" class="slider-image" alt="İkinci El Örnek Ürün 2">
						<img src="/img/anasayfa/3.png" class="slider-image" alt="İkinci El Örnek Ürün 3">
						<img src="/img/anasayfa/4.png" class="slider-image" alt="İkinci El Örnek Ürün 4">
					</div>
				</div>
				<div class="feature">
					<div class="image-slider">
						<img src="/img/anasayfa/kira1.png" class="slider-image active" alt="Genel İlan Örnek 2">
						<img src="/img/anasayfa/kira2.png" class="slider-image" alt="Genel İlan Örnek 2">
					</div>

					<div class="feature-box circle-bg">
						<div class="feature-content">
							<h2><a class="home-links" href="/kisasureliilanlar">Genel İlanlar</a></h2>
							<p>Sözlük mü arıyorsun, önlük mü? Diğer ilanlar sekmesine istediğini ekle.</p>
						</div>
					</div>
				</div>
				<div class="feature">
					<div class="feature-box spread-out">
						<div class="feature-content">
							<h2><a class="home-links" href="/kampusemesajlar">Kampüse Mesaj Ver</a></h2>
							<p>Bilgi ver ya da derdini paylaş, sesini tüm kampüse duyur!</p>
						</div>
					</div>
				</div>
				<div class="feature">
					<div class="feature-box">
						<div class="feature-content">
							<h2><a class="home-links" href="/evarkadasiilanlari">Ev İlanları</a></h2>
							<p>Kendine ev arkadaşı bul ya da barınma ve konaklamayla ilgili ilanını ver.</p>
						</div>
					</div>

					<div class="image-slider">
						<img src="/img/anasayfa/barınma.svg" class="slider-image active" alt="Barınma İlanı Görseli">
					</div>
				</div>
				<div class="feature">
					<div class="image-slider">
						<img src="/img/anasayfa/harf.svg" height="100px" class="slider-image active" alt="Harf Notu Görseli">
					</div>

					<div class="feature-box circle-bg">
						<div class="feature-content">
							<h2><a class="home-links" href="/harfnotuhesapla">Harf Notu Hesapla</a></h2>
							<p>Matematik, Fizik, Kimya harf notunu herkesten önce öğren.</p>
						</div>
					</div>
				</div>
				<!-- harf notu hesapla -->
				<div class="feature">
					<div class="feature-box spread-out">
						<div class="feature-content">
							<h2><a class="home-links" href="/isilanlari">İş İlanları</a></h2>
							<p>Tek seferlik, kısa süreli veya uzun vadeli iş ilanlarını incele.</p>
						</div>
					</div>
				</div>
			</div>
			
		
		</div>

		<%- include('partials/footer') %>
	</div>

	<!-- Bootstrap 5 JS Bundle includes Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+F/KNpi6kK+1b+Y5FQgR4V1S3bzQ" crossorigin="anonymous"></script>


	<script defer>
		document.querySelectorAll('.feature').forEach((feature, index) => {
			const pattern = ['align-left', 'align-right', 'align-left', 'align-left', 'align-right', 'align-left'];
			feature.classList.add(pattern[index % pattern.length]);
		});

		const observer = new IntersectionObserver((entries) => {
			entries.forEach((entry) => {
				console.log(entry);
				if (entry.isIntersecting) {
					entry.target.classList.add('show');
				} else {
					entry.target.classList.remove('show');
				}
			});
		});

		const hiddenElements = document.querySelectorAll('.feature'); //effect e sahip olacak olan tagler
		hiddenElements.forEach((el) => observer.observe(el));

	</script>

	<!-- sliding images -->
	<script defer>
		document.addEventListener('DOMContentLoaded', () => {
		  const sliders = document.querySelectorAll('.image-slider'); // Select all sliders
	  
		  sliders.forEach(slider => {
			const images = slider.querySelectorAll('.slider-image');
			const totalImages = images.length;
	  
			if (totalImages > 1) { // Apply logic only if there's more than one image
			  let currentIndex = Array.from(images).findIndex(img => img.classList.contains('active'));
			  if (currentIndex === -1) currentIndex = 0;
	  
			  const intervalTime = 3000;
	  
			  const showNextImage = () => {
				const currentImage = images[currentIndex];
				const nextIndex = (currentIndex + 1) % totalImages;
				const nextImage = images[nextIndex];
	  
				currentImage.classList.add('previous');
				nextImage.classList.add('active');
	  
				setTimeout(() => {
				  currentImage.classList.remove('active', 'previous');
				  currentIndex = nextIndex;
				}, 1000);
			  };
	  
			  setInterval(showNextImage, intervalTime);
			}
		  });
		});
	</script>
	
	<!-- Include Intersection Observer polyfill for older browsers -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>

</body>

</html>