<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icons/logo.svg">
    <title>Kampüse Mesaj Bırak</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/forms.css">

    <meta property="og:title" content="İTÜ Raptiye">
	<meta property="og:image" content="https://ituraptiye.com/img/icons/logo.png">
	<meta property="og:description" content="İTÜ öğrencileri için satış ve ilan sitesi">
	<meta property="og:url" content="https://ituraptiye.com/">
	<meta property="og:type" content="website">
</head>

<body>
    <div id="wrapper">
        <%- include('partials/navbar') %>
            <div class="container">
                <div class="form-container p-4 shadow rounded bg-white">
                    <h2 class="form-title text-center mb-4">Kampüse Mesaj Bırak</h2>
                    <small>(1 Aydan Eski Mesajlar Silinir)</small>
                    <form action="/kampusebirmesajbirak" method="POST" enctype="multipart/form-data" class="prevent-multiple-submit-form">
                        <div class="form-group mb-4">
                            <label for="message" class="form-label">Mesajınız</label>
                            <textarea class="form-control" id="message" name="mesaj" rows="9"
                                placeholder="Mesajınızı buraya yazın..." required></textarea>
                        </div>
                        <div class="form-group mb-4">
                            <label for="dosya" class="form-label">Varsa Fotoğraf Yükle <small>(Tek fotoğraf yüklenebilir)</small></label>
                            <input name="images" type="file" accept=".avif, .webp, .png, .jpg, .jpeg" class="form-control" id="dosya">
                        </div>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" id="anonim" name="anonim">
                            <label class="form-check-label" for="anonim">
                                Anonim kalmak istiyorum (Anonim mesajlar silinemez) </label>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn prevent-multiple-submit-button">Mesajı Gönder</button>
                        </div>
                    </form>
                </div>

                <div class="register-div">
                    <a href="/kampusemesajlar">Bırakılan tüm mesajları görüntüleyin</a>
                </div>
            </div>

            <%- include('partials/footer') %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script defer src="/js/prevent-multiple-submit.js"></script>
    <!-- prevent-multiple-submit-form prevent-multiple-submit-button class'ına sahip etiketlere etki eder başka bir etkisi yok-->
</body>

</html>