<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/img/icons/logo.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    İlanlar
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/list-ilanlar.css">
</head>

<body>
  <div id="wrapper">
    <%- include('partials/navbar') %>
      <div class="container">
        <header class="başlik">
          <h1>İlanlar</h1>
        </header>

        <div class="listings-container">
          <!-- İlan Başlangıcı -->
          <div class="listing-item">
            <img src="ilan1.jpg" alt="İlan Görseli">
            <div class="listing-details">
              <h2>İlan Başlığı</h2>
              <p class="price">₺15,000</p>
              <a href="#" class="view-details-btn">Detayları Görüntüle</a>
            </div>
          </div>
        </div>
      </div>

      <%- include('partials/footer') %>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>