.card-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    word-wrap: break-word;
    background-color: #fff;
    border: none;
    overflow: hidden;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.card:hover {
    transform: scale(1.02);
}

.carousel{
    height: 200px;
    margin-bottom: 1em;
    background-color: #F6F4E8;
}

.carousel-inner{

    background-color: transparent;
}

.card img {
    margin: auto;
    max-width: 350px;
    max-height: 260px;
    width: auto !important; /* bootstrapdan dolayı zorunlu */
}

.card-body {
    padding-top: 0;
    overflow-y: auto;
    /* Allow scrolling inside the card for overflowing content */
    flex-grow: 1;
    /* Allow the body to grow and take available space */
    display: flex;
    flex-direction: column;
}
.card-content{
    flex-grow: 1
}

.carousel-item {
    max-height: 200px;
    overflow: hidden;
}

button.star-btn{
    position: absolute;
    right:20px;
    top: 15px;
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    height: 20px;
    width: 20px;
}

.star-btn.spin svg.star{
    transform: rotate(360deg);
}

svg.star{
    position: absolute;
    right:0;
    top: 0;
    height: 20px;
    width: 20px;
    transition: transform 0.7s ease;
    transform-origin: 50% 50%;
}

svg.star path {
    fill: none;
    transition: fill 0.7s ease, stroke 0.7s ease;
}

.star-btn:hover svg.star path, .star-btn.spin svg.star path {
    fill: #ffff00;
}