.card-box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    word-wrap: break-word;
    background-color: #fff;
    border: none;
    overflow: hidden;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.02);
}

.carousel{
    margin-bottom: 1em;
    background-color: grey;
}

.carousel-inner{
    background-color: transparent;
}

.card img {
    margin: auto;

    max-width: 350px;
    max-height: 260px;
    width: auto !important; /* bootstrapdan dolayı zorunlu */
}

.card-body {
    padding-top: 0;
    overflow-y: auto;
    /* Allow scrolling inside the card for overflowing content */
    flex-grow: 1;
    /* Allow the body to grow and take available space */
    display: flex;
    flex-direction: column;
}
.card-content{
    flex-grow: 1
}

.carousel-item {
    max-height: 200px;
    overflow: hidden;
}