.container {
    margin: 0 auto;
    flex-grow: 1;
}

header {
    padding: 10px 0;
}

header h1 {
    margin: 10px 10px -10px 2px;
    color: #333;
}

.content {
    /* min-height: 400px; */
    display: flex;
    gap: 20px;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-gallery {
    flex: 1;
}

.carousel-item img {
    min-width: 200px;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

.details {
    flex: 3;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-between;
}

.details h2 {
    font-size: 1.8em;
    color: #333;
    margin-top: 0;
}

.description::first-letter {
    text-transform: uppercase;
}

.description {
    /* line-height: 1.6; */
    color: #3e3e3e;
}

.seller-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reach-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mesaj-at-btn{
    align-self: flex-end;
}

.description::first-letter,
.ilanbasligi::first-letter {
    text-transform: uppercase;
}

@media screen and (max-width: 660px) {
	.content{
		flex-direction: column;
	}
    .reach-info{
        margin-top: 20px;
    }
}