@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.font-nunito{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

:root {
    --primary-color-light: hsl(356, 95%, 78%); /* #fc9097 */
    --primary-color: hsl(356, 95%, 63%); /* #fa4753 */
    --primary-color-dark: hsl(356, 69%, 55%);
    --primary-color-dark2: hsl(356, 57%, 45%);
    
    --secondary-color-light: hsl(216, 98%, 62%); /* #6ecff6 */
    --secondary-color: hsl(216, 98%, 52%);
    --secondary-color-dark: hsl(216, 90%, 44%);

    --ternary-color-light:#336399;
    --ternary-color:hsl(212, 100%, 25%); /* #003c80 */
    --ternary-color-dark:hsl(217, 100%, 20%);

    --navbar-font-color: hsl(0, 0%, 90%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", serif;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    background-color: #f4f4f4;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    /* This makes the content area expand to fill the available space */
    padding: 20px;
    max-width: 90%;
}

a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

p{
    margin: 0;
}
.search-btn{
    height: 38px;
    width: 61px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    border: 0.8px solid;
    border-color: #dee2e6;
    background-color: white;
    transition: all 0.3s ease;
}
.search-btn:active {
    border-color: var(--secondary-color-dark);
    background-color: var(--secondary-color-light);
}
.search-btn img{
    height: 20px;
    width: 20px;
}

.btn1 {
    text-align: center;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--secondary-color-dark);
    background-color: var(--secondary-color);
    color: white;
    transition: all 0.3s ease;
}

.btn1:hover {
    background-color: var(--secondary-color-dark);
}

.btn1:active {
    border-radius: 15px;
    border-color: var(--secondary-color-dark);
    background-color: white;
    color: var(--secondary-color-dark);
}

.btn2 {
    text-align: center;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--primary-color-dark);
    background-color: var(--primary-color);
    color: white;
    transition: all 0.3s ease;
}

.btn2:hover {
    background-color: var(--primary-color-dark);
}

.btn2:active {
    border-radius: 15px;
    border-color: var(--primary-color-dark);
    background-color: white;
    color: var(--primary-color-dark);
}
.btn:disabled,.btn2:disabled,.btn3:disabled{
    background-color: white!important; 
    /* for development */
}
.btn3 {
    text-align: center;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: 0.8px solid;
    border-color: black;
    transition: all 0.3s ease;
    background-color: white;

}

.btn3:hover {
    background-color: var(--navbar-font-color);
}

.btn1.active{
    cursor: context-menu;
    background-color: var(--ternary-color);
    border-color: var(--ternary-color);
}

.back-to-inbox{
    display: inline-block;
    margin-top: 10px;
}
img.back-to-prev {
    height: 15px;
    width: auto;
    margin: 0 5px 2px 2px;
    transform: rotate(90deg);
    transform-origin: center;
}

.carousel-item img{
    border-radius: 5px;
    display: inline-block;
    margin: auto;
}

/* Override the default white icons with darker ones */
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 0-.708 0L5.646 6.646a.5.5 0 0 0 0 .708l5 5a.5.5 0 0 0 .708-.708L6.707 7 11.354 2.354a.5.5 0 0 0 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.3); /* semi-transparent dark background */
    padding: 10px;
    width: 45px;
}

.list-group-item {
    overflow-wrap: break-word;
}


button:focus {
    outline: none;
}

@media screen and (max-width: 620px) {
    .container {
        flex: 1;
        padding: 10px;
        max-width: 100%;
    }
}

/* accessibility için */
input:focus-visible,
button:focus-visible,
a:focus-visible,
select:focus-visible,
textarea:focus-visible,
option:focus-visible,
label:focus-visible,
output:focus-visible,
details:focus-visible,
summary:focus-visible,
iframe:focus-visible,
audio:focus-visible,
video:focus-visible,
embed:focus-visible,
object:focus-visible,
[contenteditable]:focus-visible,
area:focus-visible {
    outline: 3px solid black;
}

/* sonradan formatı değişen etiketler  */
.timestamp{
    opacity: 0;
    transition: opacity 0.3s ease;
}