@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.font-nunito{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

:root {
    --primary-color: hsl(356, 95%, 63%);
    --primary-color-dark: hsl(356, 69%, 55%);
    --primary-color-dark2: hsl(356, 57%, 45%);
    --secondary-color: #47bffa;
    --secondary-color-dark: #3fabe1;
    --secondary-color-dark2: #3899ca;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", serif;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    background-color: #f4f4f4;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    /* This makes the content area expand to fill the available space */
    padding: 20px;
    max-width: 90%;
}

a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

p{
    margin: 0;
}

.btn {
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border-color: var(--primary-color-dark2);
    background-color: var(--primary-color-dark);
    color: white;
    transition: all 0.2s ease;
}

.btn:hover {
    color: white;
    background-color: var(--primary-color-dark2);
    transform: scale(1.03);
    border-color: var(--primary-color-dark2);
}

.btn:active {
    border-radius: 15px;
}
.btn.active{
    background-color: var(--secondary-color-dark2);
    border-color: var(--secondary-color-dark2);
}

.back-to-inbox{
    display: inline-block;
    margin-top: 10px;
}
img.back-to-prev {
    height: 15px;
    width: auto;
    margin: 0 5px 2px 2px;
    transform: rotate(90deg);
    transform-origin: center;
}

.carousel-item img{
    border-radius: 5px;
    display: inline-block;
    margin: auto;
}

/* accessibility için */
input:focus-visible,
button:focus-visible,
a:focus-visible,
select:focus-visible,
textarea:focus-visible,
option:focus-visible,
label:focus-visible,
output:focus-visible,
details:focus-visible,
summary:focus-visible,
iframe:focus-visible,
audio:focus-visible,
video:focus-visible,
embed:focus-visible,
object:focus-visible,
[contenteditable]:focus-visible,
area:focus-visible {
    outline: 3px solid black;
}

@media screen and (max-width: 620px) {
    .container {
        flex: 1;
        padding: 10px;
        max-width: 100%;
    }
}