#result {
    width: 500px;
    margin: auto;
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

#result p {
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    color: #27ae60;
}