
  :root {
    --background-color1: hsl(0, 80%, 80%);
    --background-color2: hsl(40, 80%, 80%);
    --background-color3: hsl(80, 80%, 80%);
    --background-color4: hsl(120, 80%, 80%);
    --background-color5: hsl(160, 80%, 80%);
}

.intro {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 10vw;
    text-align: center;
}
.intro h1{
    font-size: 4rem;
}
.intro p{
    font-size: 2rem;
}
.feature {
    height: 50vh;
    display: flex;
}

.feature h2{
    font-size: 2.5em;
}

.feature p{
    font-size: 2em;
}

.feature.align-left{
    justify-content: start;
}

.feature.align-right{
    justify-content: end;
}

.feature .feature-box{
    max-width: 40vw;
}

.feature .feature-box h2{
    text-align: center;
}
/* 
.feature.left .feature-box{
    max-width: 50vw;
}

.feature.right .feature-box{
    max-width: 40vw;
} */
h1 {
    font-size: 3rem;
    margin-top: 30px;
}

h2 {
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 30px;
}

.lead {
    font-size: 1.25rem;
    color: #555;
}

p {
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }
}