header{
    padding-left: 10px;
}

#pano {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.postit {
    /* border-radius: 10px; */
    position: relative;
    padding: 10px;
    margin: 10px;
    border: 2px solid grey;
    width: 274px;
    height: 274px;
    transition: box-shadow 0.3s ease;
}

.postit:hover{
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
}

.postit>svg:first-child {
    /*tüm postitlerin ilk svg çocuğunu alır yatayda ortalar*/
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.postit-top {
    /* border-radius: 10px 10px 0px 0px; */
    border-bottom: 1px solid grey;
    margin: -10px -10px 5px -10px;
    display: block;
    height: 50px;
}

h1 {
    font-size: 3rem;
    margin-top: 30px;
}

h2 {
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 30px;
}

.lead {
    font-size: 1.25rem;
    color: #555;
}

p {
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    h1{
        font-size: 2rem;
    }
}