.item-info{
    flex: 1;
}
.price {
    color: var(--primary-color);
    font-size: 20px;
}

.seller-info h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 5px 0;
    color: #333;
}

.seller-info .reach-info .mesaj-at-btn{
    align-self: flex-end;
}