
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    flex-grow: 1;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

header {
    padding: 10px 0;
    border-bottom: 2px solid #e0e0e0;
}

header h1 {
    margin: 10px 10px -10px 2px;
    color: #333;
}

.content {
    min-height: 400px;
    display: flex;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-gallery {
    flex: 1;
}

.carousel-item img {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.details {
    flex: 2;
    margin-left: 20px;
}

.details h2 {
    font-size: 1.8em;
    color: #333;
    margin-top: 0;
}

.price {
    color: #e74c3c;
    font-size: 24px;
    margin: 10px 0;
}

.description::first-letter {
    text-transform: uppercase;
}

.description {
    margin: 10px 0 20px;
    line-height: 1.6;
    color: #3e3e3e;
}

.seller-info {
}

.seller-info h3 {
    font-size: 1.5em;
    margin-top: 0;
    color: #333;
}

.description::first-letter,
.ilanbasligi::first-letter {
    text-transform: uppercase;
}