/* Başlık */
h1.header {
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 80px;
}
a.sesiniduyur{
    margin-right: auto;
}
.sorting-buttons{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-bottom: 20px;
}
/* Mesaj Listesi */
ul.list-group {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.list-group-item {
    border: none;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.list-group-item img{
    width: 50vw;
    max-height: max(50vh, 250px);
    height: auto;
    width: auto;
}
.list-group-item:hover {
    background-color: #f0f4f8;
}

strong.message-sender a{
    font-size: 1.1rem;
    color: var(--ternary-color);
}

p {
    font-size: 1rem;
}

div.mesaj-alt-butonalar{
    align-items: center;
    display: flex;
    gap: 20px;
}
small.message-time{
    margin-left: auto;
}
p.daha-fazla.collapsed {
    text-overflow: ellipsis;
    max-height: 50px;
    overflow: hidden;
}

.daha-fazla-link {
    font-size: 15px;
    display: block;
    color: black;
    cursor: pointer;
}

.page-link:focus {
    box-shadow: none;
}

/* thumbs styling */
    div.votes{
        background-color: #ffffff;
        border-radius: 9999px;
        padding: 10px;
        width: 105px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button.thumb {
        height: 100%;
        border: none;
        background-color: transparent;
    }

    button.upvoted.thumb {
        border: none;
    }

    button.downvoted.thumb {
        border: none;
    }

    button.thumb svg{
        transition: transform 0.6s cubic-bezier(0, 0.42, 0.99, 0.58);
        transform-origin: bottom left;
        width: 16px;
        height: 16px;
        margin-bottom: 5px;
    }

    button.dislike svg{
        transform-origin: 0% 58%;
    }

    button.upvoted svg{
        fill: hsl(147, 95%, 63%);
        animation: left-spin-scale 0.3s ease forwards;
    }

    button.downvoted svg{
        fill: #ff0064;
        animation: right-spin-scale 0.3s ease forwards;

    }

    .btn1 img,
    .btn2 img{
        width: 18px;
        height: 18px;
    }
    .btn1:active img,
    .btn2:active img{
        filter: invert(1);
    }

    @keyframes left-spin-scale {
        0% {
            transform: scale(1) rotate(0deg);  /* Initial state */
        }
        50% {
            transform: scale(1.1) rotate(-15deg);  /* Halfway: scaled up and rotated */
        }
        100% {
            transform: scale(1) rotate(0deg);  /* Back to original state */
        }
    }
    @keyframes right-spin-scale {
        0% {
            transform: scale(1) rotate(0deg);  /* Initial state */
        }
        50% {
            transform: scale(1.1) rotate(15deg);  /* Halfway: scaled up and rotated */
        }
        100% {
            transform: scale(1) rotate(0deg);  /* Back to original state */
        }
    }
/*thumbs styling end*/
@media screen and (max-width: 780px) {
 span.alan-yetersiz{
    display: none;
 }
}

@media screen and (max-width: 570px) {
	h1.header {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 440px) {
	h1.header {
        font-size: 1.6rem;
        text-align: left;
        margin-bottom: 20px;
    }
}