/* sadece boş kalmasın diye oluşturdum tekrar bakılacak */

/* Başlık */
h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 40px;
}

/* Mesaj Listesi */
ul.list-group {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.list-group-item {
    background-color: #f7f8fa;
    border: none;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #f0f4f8;
}

strong {
    font-size: 1.1rem;
    color: #34495e;
}

p {
    font-size: 1rem;
    color: #555;
}

/* thumbs styling */
div.votes{
    background-color: #ffffff;
    border-radius: 9999px;
    padding: 10px;
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.thumb {
    height: 100%;
    border: none;
    background-color: transparent;
}

button.upvoted.thumb {
    border: none;
}

button.downvoted.thumb {
    border: none;
}

button.thumb svg{
    transition: transform 0.6s cubic-bezier(0, 0.42, 0.99, 0.58);
    transform-origin: bottom left;
    width: 16px;
    height: 16px;
    margin-bottom: 5px;
}

button.dislike svg{
    transform-origin: 0% 58%;
}

button.upvoted svg{
    fill: green;
    animation: left-spin-scale 0.3s ease forwards;
}

button.downvoted svg{
    fill: red;
    animation: right-spin-scale 0.3s ease forwards;

}

@keyframes left-spin-scale {
    0% {
        transform: scale(1) rotate(0deg);  /* Initial state */
    }
    50% {
        transform: scale(1.1) rotate(-15deg);  /* Halfway: scaled up and rotated */
    }
    100% {
        transform: scale(1) rotate(0deg);  /* Back to original state */
    }
}
@keyframes right-spin-scale {
    0% {
        transform: scale(1) rotate(0deg);  /* Initial state */
    }
    50% {
        transform: scale(1.1) rotate(15deg);  /* Halfway: scaled up and rotated */
    }
    100% {
        transform: scale(1) rotate(0deg);  /* Back to original state */
    }
}