#chat-messages{
    padding: 1rem; /* 16px */
    flex: 1 1 auto;
    min-height: 300px;
    overflow-y: auto;
    max-height: 700px;
}

.username{
    color: black;
}

.message-bubble{
    padding: 0.5rem;
}

.left-bubble{
    border-radius: 15px;
    border-bottom-left-radius: 0;
    background-color: #f8f9fa;
}

.right-bubble{
    border-radius: 15px;
    border-bottom-right-radius: 0;
    background-color: #0d6efd;
    color: #ffffff;
}

p.message-content{
    margin: 0;
}

.card-footer {
    padding: 0; /* Optional, remove padding for a tighter fit */
}

#message-form {
    display: flex;
    align-items: center;
}

div.input-group {
    flex: 1; /* Make the input-group take up the available space */
    display: flex;
}

#message-input {
    flex: 1; /* Make the input take up the available space */
    height: auto; /* Allow the height to adjust properly */
    padding: 0.5rem; /* Add some padding for better look */
}

.input-group-append button {
    height: auto; /* Ensure button height is consistent */
}
