#chat-messages {
    padding: 1rem;
    /* 16px */
    flex: 1 1 auto;
    min-height: 300px;
    overflow-y: auto;
    max-height: 700px;
}

.card-header {
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    align-items: center;
}

/*
.back-to-inbox {
    border: black;
}
*/

.username {
    font-size: 1.5rem;
    color: black;
}

.username:hover {
    color: white;
}

.message-bubble {
    padding: 0.5rem;
}

.left-bubble {
    border-radius: 15px;
    border-bottom-left-radius: 0;
    background-color: var(--primary-color);
    color: #ffffff;
}

.right-bubble {
    border-radius: 15px;
    border-bottom-right-radius: 0;
    background-color: var(--secondary-color-dark2);
    color: #ffffff;
}

a.daha-fazla {
    font-size: 13px;
    color: rgb(0, 0, 0);
}

small.timestamp {
    color: rgb(218, 218, 218);
}

p.message-content {
    max-height: 50px;
    /* Limit the height */
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0 5px;
}

.message-content.expanded {
    max-height: none;
    /* Allow full content to be visible */
}

.card-footer {
    border-radius: 8px !important;
    /*important due to boots*/
    padding: 0;
    /* Optional, remove padding for a tighter fit */
}

#message-form {
    display: flex;
    align-items: center;
}

div.input-group {
    flex: 1;
    /* Make the input-group take up the available space */
    display: flex;
}

#message-input {
    flex: 1;
    /* Make the input take up the available space */
    height: auto;
    /* Allow the height to adjust properly */
    padding: 0.5rem;
    /* Add some padding for better look */
}

.input-group-append button {
    height: auto;
    /* Ensure button height is consistent */
}