@keyframes wiggle {

	0%,
	100% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(5deg);
	}

	50% {
		transform: rotate(-5deg);
	}

	75% {
		transform: rotate(5deg);
	}
}

.navbar {
	/* position: sticky;
	top: 0; */
	height: 64px;
	width: 100%;
	z-index: 5;
	background-color: var(--secondary-color);
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin: 0;
	padding: 0;
	overflow: visible;
}

/* Logo and brand styles */
.navbar-brand {
	padding: 10px 10px;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	color: black;
	text-decoration: none;
}

.navbar-brand img {
	height: 30px;
	width: auto;
	margin: 0 10px;
	transition: transform 0.5s;
}

.downward-arrow {
	height: 15px;
	width: auto;
	margin: 0 10px 3px 2px;
}

.navbar-brand:hover img {
	animation: wiggle 0.5s ease 2;
}

.navbar ul {
	margin: 0;
}

.navbar li {
	display: flex;
	align-items: center;
}

#ilanlar-dropdown {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: top;
	transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
	padding: 10px 0;
	/* Preserve padding but hide it visually */
}

#ilanlar-dropdown.active {
	max-height: 500px;
	/* Adjust based on your content */
	opacity: 1;
	transform: scaleY(1);
}

.dropdown-menu a {
	cursor: pointer;
	user-select: none;
}

/* Main menu list styles */
.navbar-menu {
	display: flex;
	list-style-type: none;
}

ul.navbar-menu {
	padding: 0 10px 0 10px;
}

/* Individual menu item styles */
.navbar-item {
	transition: background-color 0.2s;
	position: relative;
	padding: 16px;
}

.navbar-item:hover {
	background-color: var(--secondary-color-dark);
}

.navbar-item>a {
	width: 100%;
}

/* Menu link styles */
.navbar-link {
	color: black;
	text-decoration: none;
	font-size: 1.2em;
	transition: color 0.3s;
}

.navbar-link:hover {
	color: black;
}

.navbar-link img {
	max-height: 30px;
	width: auto;
}

/* Dropdown menu styles */
.dropdown-menu {
	padding: 10px 0;
	background-color: var(--secondary-color);
	display: block;
	width: 100%;
	min-width: 220px;
	z-index: 5;
	top: 100%;
	left: 0;
}

.adjacent {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.dropdown-link {
	width: 100%;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	transition: background-color 0.2s, color 0.2s;
	font-size: 1rem;
}

.dropdown-link:hover {
	color: black;
	background-color: var(--secondary-color-dark);
}

.dropdown-campus:hover {
	background-color: var(--secondary-color-dark);
}

.plus-symbol {
	margin-top: -4px;
	margin-left: -1px;
	height: 30px;
	width: 30px;
}

.plus-link {
	position: relative;
	font-size: 1.2rem;
	text-align: center;
	transition: background-color 0.2s, transform 0.2s;
	margin: 12px 8px;
	height: 28px;
	width: 28px;
}

.plus-link:hover {
	transform: scale(1.1);
	background-color: var(--secondary-color-dark);
}

.tooltip {
	display: none;
	position: absolute;
	background-color: #2c2c2c;
	color: white;
	padding: 5px;
	border-radius: 5px;
	font-size: 0.9rem;
	white-space: nowrap;
	z-index: 10;
}

/* tip when hovered over */
.adjacent:hover .tooltip {
	display: block;
}

a.notification {
	position: relative;
	display: inline-block;
	animation: wiggle 0.5s ease 5;
}

a.notification span {
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* Center the badge horizontally and vertically */
	font-size: 15px;
	display: inline-block;
	min-width: 20px;
	text-align: center;
}

/* Logout button styles */
.logout-btn {
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.logout-btn img {
	transition: transform 0.3s ease;
}

#logout-btn:hover img {
	transform: translateX(3px);
	transition: transform 0.3s ease;
}

/* Mobile menu toggle button styles */
.navbar-toggle {
	width: 4em;
	display: none;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 1075px) {
	.navbar-item {
		padding: 10px;
	}

	/* sıkışınca yazıyı gizler */
	.navbar-brand span {
		display: none;
	}
}

@media screen and (max-width: 850px) {
	.navbar-brand span {
		display: inline;
	}

	.navbar-menu {
		display: block;
		flex-direction: column;
		width: 100%;
		position: absolute;
		top: 60px;
		left: 0;
		background-color: var(--secondary-color);
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
	}

	.dropdown-menu {
		box-shadow: none;
	}

	.navbar-item {
		margin: 10px 0;
	}

	/* Show toggle button on mobile */
	.navbar-toggle {
		display: block;
	}

	/* Adjust dropdown for mobile view */
	.dropdown-menu a {
		color: black;
	}
}