
.container {
    width: 80%;
    flex-grow: 1;
    margin: 0 auto;
}

.baslik {
    padding: 10px 0;
}

.baslik h1 {
    font-size: 1.7rem;
    margin: 10px 10px -10px 2px;
    color: #333;
}

.profile-container {
    display: flex;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container p{
    margin-top: 20px;
    /* text-align: start; */
}


.profile-sidebar {
    flex: 1;
    text-align: center;
    margin-right: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.profile-sidebar img.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-sidebar h2 {
    color: #333;
    margin-top: 0;
}

.profile-sidebar p {
    color: #555;
}

.profile-details {
    flex: 2;
}

.profile-details h2 {
    font-size: 1.6rem;
    color: #333;
    margin-top: 0;
}

.profile-details p,
.profile-details ul {
    font-size: large;
    color: #555;
}

.ilan-list {
    font-size: large;
    list-style-type: none;
    padding: 0;
}

.ilan-list li {
    margin-bottom: 10px;
}

.ilan-list li a {
    text-decoration: none;
    color: white;
    transition: all 0.2s;
}
.profile-sidebar h2,
.ilan-list li a::first-letter {
    text-transform: capitalize;
}

.btn-group .btn1,
.btn-group .btn2{
    margin: 0 3px;
}

.btn-group .btn1:active img,
.btn-group .btn2:active img{
    filter: invert(1);
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
@media only screen and (max-width: 750px) {
    .profile-sidebar img.profile-pic{
        height: 100px;
        width: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
        max-width: 100%;
    }
    .profile-sidebar{
        margin-right: 0;
    }
    .profile-container {
        gap: 15px;
        flex-direction: column;
    }
}