/*
:root {
    --max-form-width: 400px;
}

.container header {
    margin-left: calc(50% - calc(var(--max-form-width) / 2));
}
*/

.register-div {
    text-align: center;
    margin-top: 30px;
}

.register-div a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.register-div a:hover {
    text-decoration: underline;
}